.app-root {
  display:flex;
  padding: 4px;
  flex-basis: 100%;
  flex-direction: column;
  border-radius: 4px;
  border: 1px #ccc solid;
  height: 100%;
}

.header-item, .footer-item {
  font-weight: bolder;  
  background-color: #1976d2;  
  color: #e6ebf1;
  border-radius: 4px;
  padding: 10px;
  /* position: absolute; */
}

header-item div h1 {
  height: 50px;
  margin-top: 10px;
}

footer-item div h1 {
  height: 50px;
  margin-top: -50px;
}

div h3 {
  float: right;
}

@media(min-width:640px){
  .main-container {
    display: flex;
    height: 79%;
    margin-bottom: 2px;
    justify-content: space-around;
    /* border-radius: 8px; */
  }

  .main-item {
    flex-grow: 0.9;
    width: 100%;
    /* border-radius: 1%; */
    justify-content: start;
    border: 1px rgba(122, 124, 123, 0.685) solid; 
  }
}
