<div class="app-root">
  <div class="header-item">
    <h1><b>{{title}}</b></h1>
  </div>
  <div class="main-container">
    <div class="main-item">
      <app-dry-table 
        [(dataSource)] = "entryList" 
        [tableIndex] = 0 
        [tableFormat] = "entryFormat"
        (buttonClick)="onAction($event)"
        (linkClick) = "onLink($event)">
      </app-dry-table>
    </div>
    <div class="main-item">
      <app-dry-visual>        
      </app-dry-visual>
    </div>    
  </div>
 
  <div class="footer-item">
    <h3>{{footer}} &copy; 2021 </h3> 
  </div>    

</div>

<router-outlet></router-outlet>
