<div>
  <!-- paginator template -->
  <ng-template #pag>
    <mat-paginator #paginator style="float: {{tableFormat?.paginator.position.horizontal}};"
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 15, 20]">
    </mat-paginator>
  </ng-template>

  <!-- top paginator -->
  <div *ngIf = "tableFormat?.paginator.show && tableFormat?.paginator.position.vertical == 'top'">
    <ng-container  *ngTemplateOutlet="pag;" ></ng-container>
  </div>
  
  <!-- table columns -->
  <div style="margin-top: 24px;">
    <br>
    <div>
      <table mat-table class="full-width-table" matSort aria-describedby="" >

        <ng-container *ngFor="let item of columnsTags; let i = index; last as lastItem;" 
                      matColumnDef={{tableFormat.columns[i].label}} >  
          <!-- control the display of row index       -->
          <ng-template #rowIndexPresent>
            <th mat-header-cell *matHeaderCellDef style="width: 4%; font-weight: bolder;">{{tableFormat.columns[i].label}}</th>               
          </ng-template>
        
          <div *ngIf="tableFormat.columns[i].tag != 'rowIndex'; else rowIndexPresent">
            <th mat-header-cell *matHeaderCellDef>{{tableFormat.columns[i].label}}</th>
          </div>
          
          <td mat-cell *matCellDef="let row; let rowI = index">                          
          <div *ngIf="item != lastItem">
            {{tableFormat.columns[i].tag != 'rowIndex'?row[tableFormat.columns[i].tag]:rowI+1}} 
          </div>

          <!-- insert action controls -->
          <div *ngIf="tableFormat.columns[i].tag == 'actions' ">
            <div *ngFor="let doWhat of tableFormat.actions" style="float: left;">
              <div *ngIf="doWhat.activator == 'button'" style="align-items: center;">
                &nbsp;
                <button mat-button (click)="onActionButtonClick(row)" color="primary" >{{doWhat.label}}
                </button>
              </div>
            
              <div *ngIf="doWhat.activator == 'link'">                            
                <a href="#" (click)="onActionLinkClick(row)" class="link" style="margin: 8px;">{{&nbsp;doWhat.label}} </a>
              </div>
            </div>
          </div>
          </td>
          
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsTags"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsTags;"></tr>
      </table>
    </div>
    
  </div>

  <!-- bottom paginator -->
  <div *ngIf = "tableFormat?.paginator.show && tableFormat?.paginator.position.vertical == 'bottom';">
    <ng-container  *ngTemplateOutlet="pag;"></ng-container>
  </div>
</div>
